*{box-sizing: border-box}
body{margin:0}


/* --------- Login -----------*/
.Container{
	width: 100%;
	height: 700px;
	background-color: #F9F7F7;
}

.InnerContainer{
	width: 80%;
	height: 80%;
	margin-left: auto;
    margin-right: auto;
	display: flex;
	padding: 5px;	
	
}
.loginimage{
	width:60%; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align:center;
	margin-left: auto;
    margin-right: auto;
	background-color:#3F72AF;
}
.loginDiv{
	width:40%; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align:center;
	margin-left: auto;
    margin-right: auto;
	background-color:white;
}

 /* Style the input container */
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: white;
  
  color: black;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 80%;
  padding: 10px;
  outline: none;

}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn{
  display: inline-block;
  padding: 10px 60px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3F72AF;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.btn:hover {
  background-color: #112D4E; 
  color: white;
}