*{box-sizing: border-box}
body{margin:0}
 

/* --------- Register -----------*/
.Container{
	width: 100%;
	height: 650px;
	background-color:#F9F7F7;
}

.InnerContainer{
	width: 90%;
	height: 80%;
	margin-left: auto;
    margin-right: auto;
	display: flex;
	padding: 5px;
	
	margin: 0;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	
}

.RegisterDiv{
	
	width:70%; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align:center;
	background-color:white;
}

 /* Style the input container */
.input-container {
  width: 100%;
  margin-bottom: 15px;
}

/* Style the form icons */
.icon {
  padding: 10px;
  background: white;
  
  color: black;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field1{
  width: 50%;
  padding: 10px;
  outline: none;
  margin-bottom:15px;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn{
  display: inline-block;
  padding: 10px 60px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3F72AF;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}


.btn:hover {
  background-color: #112D4E; 
  color: white;
}